[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = {extras = ["format"], version = "*"}
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
json-schema-for-humans = "*"


[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
